.App {
  text-align: center;
}

.text-blue {
  color: #3D5AFE;
}

.default_hover {
  background-color: #AEAEAE;
}

.outline_hover {
  background-color: rgba(41, 98, 255, 0.1);
}

.text_hover {
  background-color: rgba(41, 98, 255, 0.1);
}